.content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.cards {
  padding: 60px 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
  gap: 24px;
}

.button {
  margin: 0 auto;
}

@media screen and (max-width: 360px) {
  .content {
    padding-top: 40px;
  }

  .cards {
    padding: 40px 20px;
  }
}
