.content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.cards {
  padding: 60px 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
  gap: 24px;
}

.button {
  margin: 0 auto;
}

.textErr {
  margin: 0 0 60px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-err-color);
}

@media screen and (max-width: 360px) {
  .content {
    padding-top: 40px;
  }

  .cards {
    padding: 40px 20px;
  }

  .textErr {
    margin-bottom: 40px;
  }
}
