.content {
  padding: 0 40px;
  display: flex;
  align-items: center;
  height: 80px;
  background: var(--header-color);
}

.logo {
  width: 180px;
  filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(297deg) brightness(93%) contrast(107%);
}

@media screen and (max-width: 360px) {
  .content {
    padding: 0 20px;
    height: 60px;
  }

  .logo {
    width: 120px;
  }
}