@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --main-bg-color: #f0eff4;
  --main-card-color: #fff;
  --header-color: #3b82f6;
  --label-color: #dbeafe;
  --text-label-color: #2563eb;
  --text-color: #475569;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
}
